<div>
    <h3>Let's create a new map</h3>
    <h5>I want to <a href="#" data-toggle="modal" data-target="#importModal">import my map</a> instead.</h5>

    <form>
        <div class="form-group">
            <label for="topic">What is the topic of your map?</label>
            <input type="input" name="topic" class="form-control" aria-describedby="topicHelp">
            <div class="invalid-feedback">Please add a topic for your map.</div>
        </div>

        <div class="form-group">
            <label for="topic">Who is the owner of this map?</label>
            <input type="input" name="owner" class="form-control" aria-describedby="topicHelp">
            <div class="invalid-feedback">Please add an owner for your map.</div>
        </div>

        <button type="submit" class="btn btn-primary btn-create-map">Create my map</button>
    </form>
</div>

<div id="importModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Import Map</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="btn btn-secondary btn-file">
                            Select File <input type="file" style="display: none;">
                        </label>
                        <span class="selected-file"></span>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="inlineFormInputGroup">Password</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></div>
                            <input type="text" class="form-control import-password" id="inlineFormInputGroup" placeholder="Password">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-import btn-primary">Import</button>
            </div>
        </div>
    </div>
</div>
    
</div>