<div class="create-map-container">
    <h3>Let's create a new map</h3>
    <% if (showImportExport) { %>
    <h5>I want to <a href="#" class="import-map-link" data-toggle="modal" data-target="#importModal" data-backdrop="static">import my map</a> instead.</h5>
    <% } %>

    <form>
        <div class="form-group topic">
            <label for="topic"><span class="create-step">1</span>
            What would you like to name this map?</label>
            <input type="input" name="topic" class="form-control" aria-describedby="topicHelp">
            <div class="invalid-feedback">Please add a topic for your map.</div>
            <p class="text-secondary text-instructions">
            Consider whether you will integrate an “issue for work.”
            Some examples:<br />
            “My total social network” (regardless any issue I am dealing with)<br />
            “Social network support to quit smoking”<br />
            “Social network supports to get into recovery”<br />
            “Social network supports to leave this relationship”<br />
            </p>
        </div>

        <div class="form-group owner">
            <label for="topic"><span class="create-step">2</span>
            Who is the owner of this map?</label>
            <input type="input" name="owner" class="form-control" aria-describedby="topicHelp">
            <div class="invalid-feedback">Please add an owner for your map.</div>
        </div>

        <button type="submit" class="btn btn-primary btn-create-map">Create my map</button>
    </form>
</div>

<div id="importModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Import Map</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="btn btn-secondary btn-file">
                            Select File <input type="file" style="display: none;">
                        </label>
                        <span class="selected-file"></span>
                        <div class="invalid-feedback">Please select a file</div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="inlineFormInputGroup">Password</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></div>
                            <input type="text" class="form-control import-password" id="inlineFormInputGroup" placeholder="Password">
                        </div>
                        <div class="invalid-feedback">Please enter a password</div>
                    </div>
                    <div class="form-group">
                        <div class="invalid-feedback file-read-error">Oops! An error occurred reading the file.<br />Please verify the selected file and password are correct.</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-import btn-primary">Import</button>
            </div>
        </div>
    </div>
</div>
    
</div>