            <div class="map-info">
                <dl class="row">
                    <dt>Topic:</dt>
                        <dd>
                        <a href="#"
                            class="editable-field"
                            id="map-topic"
                            data-type="text"
                            data-title="Edit map topic"><%= topic %></a>
                        </dd>
                </dl>
                <dl class="row">
                    <dt>Owner:</dt>
                        <dd>
                        <a href="#"
                            class="editable-field"
                            id="map-owner"
                            data-type="text"
                            data-title="Edit map owner"><%= owner %></a>
                        </dd>
                </dl>
            </div><!-- /.map-info -->
            
            <div class="map-workspace clearfix">
                <div class="map-circles-space">
                    <div class="circle-map circle-center">
                    <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
                    Peppercorn
                    </div>
                    <div class="circle-map circle-very-close">
                    </div>
                    <div class="circle-map circle-somewhat-close">
                    </div>
                    <div class="circle-map circle-not-close">
                    </div>
                </div><!-- /.map-circles-space -->
            
                <div class="map-actions">
                <button type="button" class="btn-map-action btn-add-person">
                    <span class="icon-map-action"><i class="fa fa-plus fa-custom"></i></span>
                    <span class="text-map-action">Add a person</span>
               </button>
                <button type="button" class="btn-map-action btn-export-modal" data-toggle="modal" data-target="#exportModal">
                    <span class="icon-map-action"><i class="fa fa-download fa-custom"></i></span>
                    <span class="text-map-action">Export</span>
               </button>
                <button type="button" class="btn-map-action btn-print">
                    <span class="icon-map-action"><i class="fa fa-print fa-custom"></i></span>
                    <span class="text-map-action">Print</span>
               </button>
                </div><!-- /.map-actions -->
            
                <div class="map-support-types">
                    <h2 class="toggle-slidenav"><i class="fa fa-fw fa-align-justify" aria-hidden="true"></i> Support Type</h2>
                    <h2 class="toggle-staticnav">Support Type</h2>
                <% for (var p in supportType) { %>
                    <section>
                        <h3>
                        <i class="fa fa-<%=supportType[p].icon%> fa-custom fa-fw"></i>
                        <%=supportType[p].display%>
                        </h3>
                        <ul class="support-type-container">
                        <% var count = people.length -1; %>
                        <% for (var i=0; i < people.length; i++) { %>
                            <% if (people[i].supportType.indexOf(p) > -1) { %>
                                <li><%=people[i].name%><% if (i < count) { %>, <% } %></li>
                            <% } %> 
                        <% } %>
                        </ul>
                    </section>
                <% } %>
                </div><!-- /.map-support-types -->
                
                <div class="map-people">
                    <% for (var i=0; i < people.length; i++) { %>
                    <div class="person-container <%=people[i].influence%>" style="">
                        <div class="person-name"><a href="#" data-id="<%=people[i].cid%>" class="btn-view-person"><%=people[i].name%></a></div>
                        <% if ( people[i].notes ) { %>
                        <div class="person-notes"><i class="fa fa-file-text"></i></div>
                        <% } %>
                        <div class="person-proximity"><%=proximity[people[i].proximity]%></div>
                        <div class="person-influence"><%=influence[people[i].influence]%></div>
                        <div class="person-support-type">
                            <% for (var j=0; j < people[i].supportType.length; j++) { %>
                            <i class="fa fa-<%=supportType[people[i].supportType[j]].icon%>"></i><span class="sr-only"><%=supportType[people[i].supportType[j]].display%></span>
                            <% } %>
                        </div>
                        <!--     <div><button class="btn-edit-person" data-id="<%=people[i].cid%>"><i class="fa fa-pencil" aria-hidden="true"></i></button></div>
                            <div><button class="btn-delete-person-confirm" data-id="<%=people[i].cid%>"><i class="fa fa-trash-o" aria-hidden="true"></i></button></div>
                        -->
                    </div>
                    <% } %>
                </div><!-- /.map-people -->
            </div><!-- /.map-workspace -->
            
            <div class="map-legend" aria-hidden="true">
                <section class="clearfix">
                <h2>Proximity:</h2>
                <dl class="clearfix">
                    <dt class="legend-very-close"><span>Light blue</span></dt>
                    <dd>Very close</dd>
                    <dt class="legend-somewhat-close"><span>Medium blue</span></dt>
                    <dd>Somewhat close</dd>
                    <dt class="legend-not-close"><span>Dark blue</span></dt>
                    <dd>Not close</dd>
                </dl>
                </section>
                <br />
                <section class="clearfix">
                <h2>Influence:</h2>
                <dl class="clearfix">
                    <dt class="legend-very-helpful"><span>Green</span></dt>
                    <dd>Very helpful</dd>
                    <dt class="legend-somewhat-helpful"><span>Yellow</span></dt>
                    <dd>Somewhat helpful</dd>
                    <dt class="legend-not-helpful"><span>Red</span></dt>
                    <dd>Not helpful</dd>
                </dl>
                </section>
            </div><!-- /.map-legend -->
            

<!-- Person View Modal -->
<div class="modal" id="personViewModal" tabindex="-1" role="dialog" aria-labelledby="personViewModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<!-- Person Add/Edit Modal -->
<div id="personModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Person Attribute Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div id="editMapModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Person Attribute Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div id="exportModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Export Map</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="sr-only" for="inlineFormInput">File</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon"><i class="fa fa-floppy-o" aria-hidden="true"></i></div>
                            <input type="text" class="form-control export-filename"  placeholder="Filename">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="inlineFormInputGroup">Password</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></div>
                            <input type="text" class="form-control export-password" id="inlineFormInputGroup" placeholder="Password">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-export btn-primary">Export</button>
            </div>
        </div>
    </div>
</div>

<div id="confirmDeleteModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove Person From Map</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to remove <strong><span class="name"></span></strong> from your map?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-delete-person btn-primary">Remove</button>
            </div>
        </div>
    </div>
</div>
