            <div class="map-info">
                <dl class="row">
                    <dt>Topic:</dt>
                        <dd>
                        <a href="#"
                            class="editable-field"
                            id="map-topic"
                            data-type="text"
                            data-title="Edit map topic"><%= topic %></a>
                        </dd>
                </dl>
                <dl class="row">
                    <dt>Owner:</dt>
                        <dd>
                        <a href="#"
                            class="editable-field"
                            id="map-owner"
                            data-type="text"
                            data-title="Edit map owner"><%= owner %></a>
                        </dd>
                </dl>
            </div><!-- /.map-info -->
            <div class="map-workspace d-print-none clearfix">
                <div class="map-people">
                    <% for (var i=0; i < people.length; i++) { %>
                    <div class="person-container <%=people[i].influence%>" data-id="<%=people[i].cid%>">
                        <div class="person-name"><a href="#" data-id="<%=people[i].cid%>" class="btn-view-person">
                        <% if (people[i].name.length > 6) { %>
                        <%=people[i].name.substr(0, 6)%>...
                        <% } else { %>
                        <%=people[i].name%>
                        <% } %>
                        </a>
                        </div>
                        <% if ( people[i].notes ) { %>
                        <div class="person-notes"><i class="fa fa-file-text"></i></div>
                        <% } %>
                        <div class="person-proximity"><%=proximity[people[i].proximity]%></div>
                        <div class="person-influence"><%=influence[people[i].influence]%></div>
                        <div class="person-support-type">
                            <% for (var j=0; j < people[i].supportType.length; j++) { %>
                            <i class="fa fa-<%=supportType[people[i].supportType[j]].icon%>"></i><span class="sr-only"><%=supportType[people[i].supportType[j]].display%></span>
                            <% } %>
                        </div>
                    </div>
                    <% } %>
                </div><!-- /.map-people -->

                <div class="map-circles-space">
                    <div class="circle-map circle-center text-center">
                        <div class="circle-owner">
                        <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                        <div>Owner</div>
                        </div>
                    </div>
                    <div class="circle-map circle-very-close">
                    </div>
                    <div class="circle-map circle-somewhat-close">
                    </div>
                    <div class="circle-map circle-not-close">
                    </div>
                </div><!-- /.map-circles-space -->

                <div class="map-actions">
                    <button type="button" class="btn-map-action btn-add-person">
                        <span class="icon-map-action"><i class="fa fa-plus fa-custom"></i></span>
                        <span class="text-map-action">Add a person</span>
                    </button>
                    <button type="button" class="btn-map-action btn-export-modal" data-toggle="modal" data-target="#exportModal" data-backdrop="static">
                        <span class="icon-map-action"><i class="fa fa-download fa-custom"></i></span>
                        <span class="text-map-action">Export</span>
                    </button>
                    <button type="button" class="btn-map-action btn-print">
                        <span class="icon-map-action"><i class="fa fa-print fa-custom"></i></span>
                        <span class="text-map-action">Print</span>
                    </button>
                    <button type="button" class="btn-map-action" data-toggle="modal" data-target="#confirmNewMapModal" data-backdrop="static">
                        <span class="icon-map-action"><i class="fa fa-bullseye fa-custom"></i></span>
                        <span class="text-map-action">New map</span>
                    </button>
                </div><!-- /.map-actions -->

                <div class="map-support-types">
                    <h2 class="toggle-slidenav"><i class="fa fa-fw fa-align-justify" aria-hidden="true"></i> Support Type</h2>
                    <h2 class="toggle-staticnav">Support Type</h2>
                    <% for (var p in supportType) { %>
                        <section>
                            <h3 class="support-type-header" data-id="<%=p%>">
                            <i class="support-icon fa fa-<%=supportType[p].icon%> fa-lg fa-fw"></i>
                            <%=supportType[p].display%>
                            </h3>
                            <ul class="support-type-container">
                            <% var count = people.length -1; %>
                            <% for (var i=0; i < people.length; i++) { %>
                                <% if (people[i].supportType.indexOf(p) > -1) { %>
                                    <li><a href="#" data-id="<%=people[i].cid%>" class="btn-view-person"><%=people[i].name%></a><% if (i < count) { %>, <% } %></li>
                                <% } %> 
                            <% } %>
                            </ul>
                        </section>
                    <% } %>
                </div><!-- /.map-support-types -->
            </div><!-- /.map-workspace -->

            <div class="map-legend clearfix" aria-hidden="true">
                <section class="clearfix">
                <h2>Proximity:</h2>
                <dl class="clearfix">
                    <dt class="legend-very-close"><span>Light blue</span></dt>
                    <dd>Very close</dd>
                    <dt class="legend-somewhat-close"><span>Medium blue</span></dt>
                    <dd>Somewhat close</dd>
                    <dt class="legend-not-close"><span>Dark blue</span></dt>
                    <dd>Not close</dd>
                </dl>
                </section>
                <br />
                <section class="clearfix">
                <h2>Influence:</h2>
                <dl class="clearfix">
                    <dt class="legend-very-helpful"><span>Green</span></dt>
                    <dd>Very helpful</dd>
                    <dt class="legend-somewhat-helpful"><span>Yellow</span></dt>
                    <dd>Somewhat helpful</dd>
                    <dt class="legend-not-helpful"><span>Red</span></dt>
                    <dd>Not helpful</dd>
                </dl>
                </section>
            </div><!-- /.map-legend -->

            <div class="map-workspace-print d-print-block">
                <img class="map-background" src="<%= mapBackground %>" alt="" />
                <div class="map-people-print">
                    <% for (var i=0; i < people.length; i++) { %>
                    <div class="person-container-print <%=people[i].influence%>" data-id="<%=people[i].cid%>">
                        <div class="print-influence"></div>
                        <div class="person-name"><a href="#" data-id="<%=people[i].cid%>" class="btn-view-person"><%=people[i].name%></a></div>
                        <% if ( people[i].notes ) { %>
                        <div class="person-notes"><i class="fa fa-file-text"></i></div>
                        <% } %>
                        <div class="person-proximity"><%=proximity[people[i].proximity]%></div>
                        <div class="person-influence"><%=influence[people[i].influence]%></div>
                        <div class="person-support-type">
                            <% for (var j=0; j < people[i].supportType.length; j++) { %>
                            <i class="fa fa-<%=supportType[people[i].supportType[j]].icon%>"></i><span class="sr-only"><%=supportType[people[i].supportType[j]].display%></span>
                            <% } %>
                        </div>
                    </div>
                    <% } %>
                </div><!-- /.map-people-print -->
            </div><!-- /.map-workspace-print -->

            <div class="map-support-types d-print-block">
                <h2>Support Type</h2>
                <% for (var p in supportType) { %>
                    <section>
                        <h3 class="support-type-header" data-id="<%=p%>">
                        <i class="support-icon fa fa-<%=supportType[p].icon%> fa-lg fa-fw"></i>
                        <%=supportType[p].display%>
                        </h3>
                        <ul class="support-type-container">
                        <% var count = people.length -1; %>
                        <% for (var i=0; i < people.length; i++) { %>
                            <% if (people[i].supportType.indexOf(p) > -1) { %>
                                <li><a href="#" data-id="<%=people[i].cid%>" class="btn-view-person"><%=people[i].name%></a><% if (i < count) { %>, <% } %></li>
                            <% } %> 
                        <% } %>
                        </ul>
                    </section>
                <% } %>
            </div><!-- /.map-support-types-print -->

            <div class="map-detail-print d-print-block">
                <dl>
                <% for (var p in peopleByProximity) { %>
                    <dt class="<%=[p]%>"><%=proximity[p]%></dt>
                    <% var people = peopleByProximity[p] %>
                    <% if ( people.length > 0 ) { %>
                        <% for (var i=0; i < people.length; i++) { %>
                        <dd class="detail-name"><%=people[i].name%></dd>
                        <dd><strong>Influence:</strong> <%=influence[people[i].influence]%></dd>
                        <dd><strong>Support types:</strong> 
                        <% var count = people[i].supportType.length - 1; %>
                        <% for (var j=0; j < people[i].supportType.length; j++) { %>
                            <%=supportType[people[i].supportType[j]].display%><% if (j < count) { %>, <% } %>
                        <% } %></dd>
                        <dd><strong>Notes:</strong>
                        <% if ( people[i].notes ) { %>
                        <%=people[i].notes%>
                        <% } else { %>
                        <em class="text-secondary">There are no notes for this person.</em>
                        <% } %></dd>
                        <% } %>
                    <% } else { %>
                        <dd><em class="text-secondary">There is no one in this proximity.</em></dd>
                    <% } %>
                <% } %>
                </dl>
            </div>
