<br />
<div class="row">
    <div class="col">
        <button type="button" class="btn btn-default btn-add-person">
            Add Person
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-default btn-edit-map">
            Edit Map Info
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exportModal">
            Export
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-default btn-print">
            Print
        </button>
    </div>
</div>

<br />
<div>Topic: <input type="text" name="map-topic" value="<%= topic %>" /></div>
<br />
<div>Owner: <input type="text" name="map-nickname" value="<%= owner %>" /></div>

<br /><br />
<h5>People</h5>

<table class="table">
<tr><th>Name</th><th>Proximity</th><th>Influence</th><th>Support</th><th>Notes</th><th>Edit</th><th>Delete</th></tr>

<% for (var i=0; i < people.length; i++) { %>
    <tr>
        <td><%=people[i].name%></td>
        <td><%=proximity[people[i].proximity]%></td>
        <td><%=influence[people[i].influence]%></td>
        <td>
            <% for (var j=0; j < people[i].supportType.length; j++) { %>
                <%=supportType[people[i].supportType[j]]%>, 
            <% } %>
        </td>
        <td><%=people[i].notes%></td>
        <td><button class="btn-edit-person" data-id="<%=people[i].cid%>"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
        <td><button class="btn-delete-person-confirm" data-id="<%=people[i].cid%>"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
    </tr>
<% } %>
</table>

<div id="personModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Person Attribute Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div id="editMapModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Person Attribute Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div id="exportModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Export Map</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="sr-only" for="inlineFormInput">File</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon"><i class="fa fa-floppy-o" aria-hidden="true"></i></div>
                            <input type="text" class="form-control export-filename"  placeholder="Filename">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="inlineFormInputGroup">Password</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></div>
                            <input type="text" class="form-control export-password" id="inlineFormInputGroup" placeholder="Password">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-export btn-primary">Export</button>
            </div>
        </div>
    </div>
</div>

<div id="confirmDeleteModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove Person From Map</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to remove <strong><span class="name"></span></strong> from your map?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-delete-person btn-primary">Remove</button>
            </div>
        </div>
    </div>
</div>
