
    <div class="step" <% if (state.step !== 1) { %>style="display: none" <% } %> >
        <div class="modal-header">
            <h5 class="sr-only" id="PersonAttributeModal">Add a person</h5>
            <h5>Step 1 of 5: Who is this?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <label for="name" class="col-2 col-form-label">Name</label>
                <div class="col-10">
                    <input type="text" name="name" class="form-control" value="<%=person.name%>" />
                    <div class="invalid-feedback">Please enter a name</div>
                </div>
            </div>
        </div>
    </div>
    <div class="step" <% if (state.step !== 2) { %>style="display: none" <% } %>>
        <div class="modal-header">
            <h5>Step 2 of 5: Proximity</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="proximity">How close are you to this person?</label>
                <small class="form-text text-muted">Proximity means how connected you feel to, or how often you see this person, or both.</small>
                <br />
                <% for (var p in proximity) { %>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input"
                                name="proximity" value="<%=p%>" <% if (person.proximity === p) { %>checked<% } %>
                                <% if (shellLimits[p].full) { %>disabled="disabled"<% } %> />
                                <%=proximity[p]%>
                        </label>
                    </div>
                <% } %>
                <div class="invalid-feedback">Please select a proximity</div>
            </div>
        </div>
    </div>
    <div class="step" <% if (state.step !== 3) { %>style="display: none" <% } %>>
        <div class="modal-header">
            <h5>Step 3 of 5: Influence</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
            <label for="influence">What influence does this person have on your topic &ldquo;<em><%=map.topic%></em>&rdquo;?</label>
                <br />
                <% for (var p in influence) { %>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input"
                                name="influence" value="<%=p%>" <% if (person.influence === p) { %>checked<% } %> />
                                <%=influence[p]%>
                        </label>
                    </div>
                <% } %>
                <div class="invalid-feedback">Please select an influence</div>
            </div>
        </div>
    </div>
    <div class="step" <% if (state.step !== 4) { %>style="display: none" <% } %>>
        <div class="modal-header">
            <h5>Step 4 of 5: Support Type</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="supportType">What kind of support does this person give you?</label>
                <small class="form-text text-muted">Nothing here</small>
                <br />
                <% for (var p in supportType) { %>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"
                                name="supportType" value="<%=p%>"
                                <% if (person.supportType.indexOf(p) > -1) { %>checked<% } %> />
                                <%=supportType[p].display%><br />
                                <small class="form-text text-muted">
                                <%=supportType[p].description%>
                                </small>
                        </label>
                    </div>
                <% } %>
                <div class="invalid-feedback">Please select .</div>
            </div>
        </div>
    </div>

    <div class="step" <% if (state.step !== 5) { %>style="display: none" <% } %>>
        <div class="modal-header">
            <h5>Step 5 of 5: More information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="supportType">Is there anything else you would
like to say about this person?</label>
                <small class="form-text text-muted">What makes her/him special in your life, as a social support? For example, “best friend for 25 years.” You may want to note why this person is supportive around your current issue for work.</small>
                <br />
                <textarea name="notes" class="form-control"><%= person.notes %></textarea>
            </div>
        </div>
    </div>

<div class="modal-footer">
    <% if (state.step > 1) { %>
        <button type="button" class="btn btn-primary btn-prev">Prev</button>
    <% } %>
    <% if (state.step < state.lastStep) { %>
        <button type="button" class="btn btn-primary btn-next">Next</button>
    <% } else { %>
        <button type="button" class="btn btn-primary btn-save">Save</button>
    <% } %>
</div>
