    <!-- Put stuff here -->
      <div class="modal-header">
        <h5 class="modal-title">
        <a href="#"
            class="editable-field"
            id="person-name-edit"
                data-type="text"
                data-title="Edit name"><%=person.name%></a>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="clearfix pull-right">
        <button class="btn-delete-person-confirm btn btn-danger" data-id="<%=person.cid%>" data-dismiss="modal"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
        </div>
        <dl class="clearfix">
            <dt>Proximity:</dt>
                <dd>
                    <a href="#"
                    class="editable-field"
                    id="person-proximity-edit"
                    data-type="select"
                    data-title="Edit proximity"><%=proximity[person.proximity]%></a>              
                </dd>
            <dt>Influence:</dt>
                <dd>
                    <a href="#"
                    class="editable-field"
                    id="person-influence-edit"
                    data-type="select"
                    data-title="Edit influence"><%=influence[person.influence]%></a>              
                </dd>
            <dt>Support types:</dt>
                <dd>
                    <a href="#"
                    class="editable-field"
                    id="person-supporttype-edit"
                    data-type="checklist"
                    data-title="Edit support types">
                    <% var count = person.supportType.length -1; %>
                    <% for (var j=0; j < person.supportType.length; j++) { %>
                <%=supportType[person.supportType[j]].display%><% if (j < count) { %>, <% } %> 
                <% } %></a>
                </dd>
            <dt>Notes:</dt>
                <dd>
                    <a href="#"
                    class="editable-field"
                    id="person-notes-edit"
                    data-type="textarea"
                    data-title="Edit notes"><%=person.notes%></a>
                </dd>
        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    <!-- -->
